<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=WAHID\SQLSERVER;Initial Catalog=MFormatiKDB;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" />
  </connectionStrings>
<appSettings>
  <add key="Favorites.PreferredViews" value="Screen1,Screen2" />
</appSettings>
</configuration>